.featured-album hgroup {
  display: none;
}

@font-face {
  font-family: "AlteHaasGroteskBold";
  src: url("/fonts/AlteHaasGroteskBold.ttf") format("truetype");
}

h1, h2 {
  font-family: "AlteHaasGroteskBold", serif;
}

/* Category buttons */
nav.categories a {
  font-family: "AlteHaasGroteskBold", serif;
}

/* Site title in upper left */
header a.btn {
  font-family: "AlteHaasGroteskBold", serif; 
  font-size: 40px;
}

section.prose input[type="checkbox"] {
  pointer-events: auto;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin-right: 6px;
}