.featured-album hgroup {
  display: none;
}

@font-face {
  font-family: "Favorite_Notification";
  src: url("/fonts/Favorite_Notification.ttf") format("truetype");
}

h1, h2 {
  font-family: "Favorite_Notification", serif;
}

/* Category buttons */
nav.categories a {
  font-family: "Favorite_Notification", serif;
}

/* Site title in upper left */
header a.btn {
  font-family: "Favorite_Notification", serif;
}